@import url("https://fonts.googleapis.com/css?family=Courgette");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus, *:active {
  outline: none;
}

body {
  background: #0079bf;
  font-family: helvetica;
}

body .fa, body .far, body .fas {
  font-family: 'fontawesome';
}

body .hide {
  display: none;
}

body #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.6;
  z-index: 500;
}

body #card-dialog {
  background: #EDEFF0;
  border-radius: 3px;
}

body #card-dialog h2 {
  margin: 0 65px 0 0;
  padding: 17px 0 5px 20px;
  font-size: 20px;
}

body #card-dialog #column-info {
  padding: 0 0 0 20px;
  color: #838c91;
}

body #card-dialog #column-info #column-info-name {
  text-decoration: underline;
}

body #card-dialog .fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 7px 10px 7px 7px;
  font-size: 36px;
  cursor: pointer;
}

body #card-dialog #card-dialog-tabs {
  background: #EDEFF0;
}

body #card-dialog #card-dialog-tabs ul {
  padding: 7px 0 0 17px;
  background: #EDEFF0;
  border: none;
}

body #card-dialog #card-dialog-tabs ul li {
  background: #CDD2D4;
  border: none;
  border-radius: 3px;
}

body #card-dialog #card-dialog-tabs ul li:not(.ui-tabs-active):hover {
  background: #b6b9ba;
}

body #card-dialog #card-dialog-tabs ul .ui-tabs-active, body #card-dialog #card-dialog-tabs ul .ui-state-active {
  padding: 0;
  margin-bottom: 0px;
  background: #007FFF;
}

body #card-dialog #card-dialog-tabs ul .ui-tabs-active a, body #card-dialog #card-dialog-tabs ul .ui-state-active a {
  cursor: default;
}

body .ui-dialog-titlebar {
  display: none;
}

body .ui-dialog {
  position: fixed;
  padding: 0;
  margin-top: 50px;
  z-index: 999;
}

body .ui-dialog .ui-dialog-content {
  padding: 0;
}

body .ui-widget.ui-widget-content {
  border: none;
}

body #card-edit-name {
  width: 254px;
  z-index: 100;
}

body #card-edit-name textarea {
  padding: 8px 10px;
  width: 100%;
  min-height: 100px;
  border: none;
  border-radius: 3px;
  font-family: helvetica;
  font-size: 14px;
  color: #4d4d4d;
  overflow: hidden;
  resize: none;
}

body #card-edit-name button {
  margin: 5px 0 10px 0;
  width: 100px;
  height: 30px;
  background: green;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

body #column-edit-name #column-edit-name-input {
  display: inline-block;
  margin: 4px 0 5px 0;
  padding: 0 0 0 3px;
  height: 25px;
  width: 100%;
  font-family: helvetica;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  border: 1px solid #0079bf;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 #0284c6;
}

body header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 40px;
  width: 100%;
  padding: 5px 0;
  color: #7FB3D1;
  background: #0067a3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

body header img {
  opacity: 0.5;
}

body header h1 {
  font-family: 'Courgette', cursive;
  font-size: 24px;
  font-weight: 500;
}

body main {
  padding-top: 45px;
  width: auto;
}

body main #top-info h2 {
  display: inline-block;
  margin: 5px 0 10px 15px;
  font-size: 18px;
  color: #f6f6f6;
}

body main #columns-container {
  display: flex;
  padding: 0 10px 0 0;
  white-space: nowrap;
}

body main #columns-container #columns {
  display: flex;
  white-space: nowrap;
  color: #4d4d4d;
}

body main #columns-container #columns .column {
  position: relative;
  align-self: flex-start;
  background: #E2E4E6;
  padding: 0px 8px 30px 8px;
  width: 270px;
  margin-left: 10px;
  border-radius: 3px;
}

body main #columns-container #columns .column h3 {
  min-height: 34px;
  padding: 9px 0 0 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

body main #columns-container #columns .column .cards {
  min-height: 30px;
}

body main #columns-container #columns .column .cards .card {
  position: relative;
  margin-bottom: 8px;
  padding: 8px 10px 7px 10px;
  min-height: 33px;
  background: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #cccccc;
}

body main #columns-container #columns .column .cards .card p {
  white-space: normal;
  font-size: 14px;
}

body main #columns-container #columns .column .cards .card .fa-edit {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 22px;
  cursor: pointer;
  color: #a3a3a3;
}

body main #columns-container #columns .column .cards .card .fa-edit:hover {
  color: #333;
  border-radius: 3px;
}

body main #columns-container #columns .column .cards .card:hover {
  background: #edeff0;
  cursor: pointer;
}

body main #columns-container #columns .column .add-card {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0 0 8px;
  height: 30px;
  width: 100%;
  text-align: left;
  color: #838c91;
  font-size: 14px;
  background: #E2E4E6;
  border: none;
  border-radius: 0 0 3px 3px;
  cursor: pointer;
}

body main #columns-container #columns .column .add-card:hover {
  text-decoration: underline;
  color: #4d4d4d;
  background: #CDD2D4;
}

body main #columns-container #add-column {
  margin: 0 10px 0 10px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
